{% extends 'base.html' %}
{% block title %}Set New Password{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h3 class="mb-3">Set a new password</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        <div class="d-grid mt-3">
          <button type="submit" class="btn btn-primary">Set password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
